@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
* {
  background: #1b2747;
  color: #fcfdfc;

  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Opera */
}

/* Hide scrollbar for Webkit browsers */
.scrollbar-hidden::-webkit-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none;
}

.scrollbar-hidden {
  overflow: hidden;
}
