@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global CSS or a CSS module */
.hide-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer and Edge */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

/* Hide scrollbar for Webkit browsers */
.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}
